$color1: blueviolet;
body {
  background-color: #111;
  color: white;
  nav {
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px white solid;
    border-radius: 10px;
    .logo {
      font-size: 40px;
      font-weight: 800;
      color: $color1;
      .fetch {
        color: rgb(252, 115, 3);
      }
    }
  }
}
