* {
  font-family: "Noto Sans KR", sans-serif;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

main::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera*/
}

.fetch {
  font-weight: 800;
  color: rgb(255, 115, 0);
  font-family: "Noto Sans KR", sans-serif;
}

.leedocs {
  color: blueviolet;
  font-weight: 800;
  font-family: "Noto Sans KR", sans-serif;
}

.highlight {
  font-weight: 900;
  color: #333;
  text-decoration: underline;
}

.highlight2 {
  font-weight: 900;
  color: #ee33ff;
}

.highlight3 {
  font-weight: 700;
  color: #ee33ff;
}

.logo {
  height: 16px;
  margin: 5px 3px 0 0;
}

.preview {
  width: 270px;
  margin: 2px;
  border: 1px solid white;
}
@media screen and (max-width: 600px) {
  .preview {
    width: 230px;
  }
}

body {
  padding: 0;
  margin: 0;
  background-color: #111;
  color: white;
  height: 100vh;
  width: 100vw;
  padding-top: 100px;
  overflow: auto;
}
body header {
  position: fixed;
  top: 1px;
  left: 0;
}
body header nav {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 60px;
  border: 3px white solid;
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
}
body header nav .logo {
  font-size: 40px;
}
body header .bar {
  height: 3px;
  width: 100vw;
  background-color: #6e6e6e;
  margin-top: 3px;
  position: relative;
}
body header .bar .rate {
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  width: 0;
  transition: width 0.5s ease-out;
  background-color: rgb(255, 115, 0);
  z-index: 2;
}
body header .search {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 5px;
  margin-right: 200px;
  margin-bottom: 5px;
}
@media screen and (max-width: 1000px) {
  body header .search {
    margin-right: 20px;
  }
}
body header .search input {
  background-color: transparent;
  border: none;
  color: white;
  margin: 0 5px;
  border-bottom: 1px solid #e6e6e6;
}
body header .search input :focus {
  outline: none;
}
body header .search .btn_search {
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
body header .search .btn_search img {
  width: 20px;
}
body main {
  position: fixed;
  top: 100px;
  left: 0;
  margin: 0;
  padding: 0 200px;
  height: 87%;
  overflow: scroll;
  scroll-behavior: smooth;
  width: 100vw;
}
@media screen and (max-width: 1000px) {
  body main {
    padding: 5px 20px;
    height: 85%;
  }
}
body main .talk_box {
  display: flex;
  margin: 0 0 20px 0;
}
body main .talk_box .avatar {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main .talk_box .avatar img {
  width: 50px;
}
body main .talk_box .ballon {
  position: relative;
  display: flex;
  align-items: center;
  background-color: white;
  margin-left: 30px;
  border-radius: 9px;
  min-height: 40px;
  max-width: 66vw;
}
body main .talk_box .ballon .tail {
  position: absolute;
  top: 5px;
  left: -18px;
  width: 20px;
}
body main .talk_box .ballon .tail_right {
  position: absolute;
  top: 5px;
  right: -18px;
  width: 20px;
}
body main .talk_box .ballon .content {
  color: black;
  margin: 10px;
  font-size: 16px;
  line-height: 20px;
}
body main .talk_box .ballon .bookmark {
  color: #6e6e6e;
  font-size: 10px;
  position: absolute;
  bottom: -14px;
  right: 5px;
}
body main .talk_box.guest {
  justify-content: end;
}
body main .talk_box.guest .ballon {
  margin: 0;
  margin-right: 18px;
  background-color: #ffe359;
}

/*# sourceMappingURL=style.css.map */
