$color1: blueviolet;
* {
  font-family: "Noto Sans KR", sans-serif;
}
.fetch {
  font-weight: 800;
  color: rgb(252, 115, 3);
}
.leedocs {
  color: $color1;
  font-weight: 800;
}
.highlight {
  font-weight: 900;
  color: #333;
  text-decoration: underline;
}
body {
  background-color: #111;
  color: white;
  nav {
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px white solid;
    border-radius: 10px;
    .logo {
      font-size: 40px;
    }
  }
  main {
    margin: 20px 200px;
    @media screen and (max-width: 1000px) {
      margin: 20px 20px;
    }
    .talk_box {
      display: flex;
      margin: 20px 0;
      .avatar {
        width: 50px;
        height: 50px;
        overflow: hidden;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 50px;
        }
      }

      .ballon {
        position: relative;
        display: flex;
        align-items: center;
        background-color: white;
        margin-left: 30px;
        border: 1px solid white;
        border-radius: 9px;
        min-height: 40px;
        max-width: 60vw;
        img {
          position: absolute;
          top: 5px;
          left: -20px;
          width: 20px;
        }
        .content {
          color: black;
          margin: 10px;
          font-size: 16px;
          line-height: 20px;
        }
        .bookmark {
          color: #6e6e6e;
          font-size: 10px;
          position: absolute;
          bottom: -14px;
          right: 5px;
        }
      }
    }
  }
}
